# Compiled Java class files - auto generated, don't push these
*.class

# JAR files - 3rd party libraries, don't push these
*.jar

# IDE files
.idea/
*.iml
.vscode/
*.classpath
*.project

# OS files
.DS_Store
Thumbs.db
